.team {
  background: getColor("second-white");
  margin: auto;
  text-align: center;
  align-items: center;
  padding-bottom: 0;

  &__list {
    display: flex;
    flex-direction: column;
    padding-inline-start: 0;
    justify-content: center;
    align-items: center;
    gap: 30px;
    list-style-type: none;
    margin: 0;

    @include tablet {
      flex-direction: row;
      flex-wrap: wrap;
    }

    &-card {
      width: 100%; //450px

      background: getColor("main-white");
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
      border-radius: 0px 0px 4px 4px;

      @include tablet {
        width: 354px;
      }

      @include desktop {
        width: 270px;
      }

      &-info {
        padding-top: 30px;
        padding-bottom: 16px;
      }

      &-name {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.19;
        letter-spacing: 0.03em;
      }

      &-title {
        font-size: 16px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        color: getColor("mine-grey");
        padding-top: 10px;
      }

      &-icons {
        display: flex;
        flex-direction: row;
        padding-inline-start: 0;
        justify-content: center;
        gap: 10px;
        list-style-type: none;
        padding-bottom: 28px;

        @include desktop {
          padding-bottom: 28px;
        }
      }
    }
  }

  &__social-icons-likns {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;

    transition: $transitionColor, $transitionBgColor;

    &:hover,
    &:focus {
      background-color: getColor("main-blue");
    }

    &:hover > .team__social-icon,
    &:focus > .team__social-icon {
      fill: getColor("main-white");
    }
  }

  &__social-icon {
    fill: getColor("second-grey");
    transition: $transitionColor;

    &:hover,
    &:focus {
      fill: getColor("main-white");
    }
  }
}
