.work {
  display: flex;
  justify-content: center;
  padding-inline-start: 0;
  gap: 30px;
  list-style-type: none;
  margin-bottom: -168px;

  &__label {
    position: relative;
    left: 0px;
    top: -74px;
    width: 370px;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__name {
    font-family: $fontFamilyMain;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: getColor("main-white");
  }
}
