.top-line-contacts {
  display: flex;
  justify-content: flex-start;
  justify-content: space-between;
  align-items: center;
  gap: 50px;

  &__link {
    text-decoration: none;
    list-style-type: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: getColor("main-grey");
    display: flex;
    align-items: center;
    transition: $transitionColor;

    &:hover,
    &:focus {
      color: getColor("main-blue");
    }

    &-icon {
      fill: currentColor;
      margin-right: 10px;
    }
  }
}
