.top-line-partition {
  padding: 10px 0;

  @include tablet {
    padding: 21px 0;
  }

  @include desktop {
    padding: 24px 0 25px;
  }

  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1600px;
  height: 80px;
  border-bottom: 1px solid getColor("line-color");
  margin: auto;

  &__left-side {
    display: flex;
    list-style-type: none;
    align-items: center;
  }

  &__right-side {
    display: flex;
    justify-content: space-between;
  }
}
