* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p,
a {
  margin: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: currentColor;
  font-style: normal;
}

body {
  font-family: $fontFamilyMain;
  background: getColor("main-white");
  color: getColor("main-black");
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @include tablet {
    padding-top: 45px;
    padding-bottom: 45 px;
  }

  @include desktop {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;

  @include tablet {
    max-width: 768px;
  }

  @include desktop {
    max-width: 1200px;
  }
}
